* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('./images/photos/macbook.jpg');
    filter: opacity(80%);
}

#nav {
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 15px;
}

#logo {
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    display: inline-block;
    color: white;
}

nav {
    float: right;
    display: inline-block;
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

li a {
    color: white;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
}

#main-title {
    display: inline-block;
    text-align: center;
    padding: 10%;
    width: 100%;
}

#main-title h1 {
    color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 15px;
}

#main-title hr {
    border: 2px solid #f4623a;
    text-align: center; 
    margin: 0 auto;
    width: 15%;
    padding: 0%;
    background-color: #f4623a;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 12pt;
}

#main-title a {
    color: white;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    border: 5px solid #f4623a;
    border-radius: 20px;
    background-color: #f4623a;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 15px;
    padding-left: 15px;
}

#start {
    background-color: #f4623a;
    padding: 100px;
    display: block;
    text-align: center;
}

#start h2 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 15px;
}

#start hr {
    border: 2px solid white;
    text-align: center; 
    margin: 0 auto;
    width: 15%;
    padding: 0%;
    background-color: white;
}

#start a {
    color: black;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 15px;
    padding-left: 15px;
}

#service {
    padding: 10%;
    width: 100%;
    display: block;
    text-align: center;
}


h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25pt;
    padding-bottom: 15px;
}

#service hr {
    border: 2px solid #f4623a;
    text-align: center; 
    margin: 0 auto;
    width: 15%;
    padding: 0%;
    background-color: #f4623a;
}

#service table {
    table-layout: fixed;
    width: 100%;
}

th {
    width: 25%;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
}

td {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

td img {
    width: 150px;
    align-items: center;
    padding: 10px;
}

#download {
    background-color: #343a40;
    padding: 100px;
    display: block;
    text-align: center;
}

#download h2 {
    color: white;
    padding-bottom: 50px;
}

#download a {
    color: black;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10pt;
    border: 5px solid white;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 15px;
    padding-left: 15px;
}

section hr {
    border: 2px solid #f4623a;
    text-align: center; 
    margin: 0 auto;
    width: 15%;
    padding: 0%;
    background-color: #f4623a;
}

section {
    padding: 100px;
    display: block;
    text-align: center;
}

section p {
    color: black;
}

section table {
    table-layout: fixed;
    width: 100%;
}

section a {
    color:  #f4623a;
    text-decoration: none;
}

footer p {
    color: black;
}

#photos {
    padding: 100px;
    display: block;
    text-align: center;
}

#photos img {
    width: 33.33%;
}